Repository franklindyer/agora-app, pull requests merged in 2024-02, with the labels that each got.

#12 Add friends list
  src/static/css/style.css
  src/templates/header.html
  src/templates/profile.html
Labels: frontend, unfinished

#15 Create login page
  src/server.py
  src/static/css/style.css
  src/templates/account.html
  src/templates/header.html
  src/templates/login.html
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraEmailer.py
  src/utilities/AgoraInterpreterFilter.py
  src/utilities/AgoraSemanticFilter.py
  src/utilities/AgoraSyntacticFilter.py
Labels: frontend, backend

#14 Updated TODO
  TODO.md
Labels: documentation

#17 Create join page
  src/params/limits.py
  src/server.py
  src/static/css/style.css
  src/templates/join.html
  src/templates/login.html
  src/utilities/AgoraInterpreterFilter.py
Labels: frontend, bugfix, server

#21 Reorganizing and simplifying CSS
  src/static/css/style.css
  src/templates/header.html
  src/templates/join.html
  src/templates/login.html
  src/templates/post.html
  src/templates/profile.html
Labels: frontend

#22 Account creation and editing
  src/server.py
  src/utilities/AgoraInterpreterFilter.py
  src/utilities/AgoraSemanticFilter.py
Labels: backend, server

#23 New post capabilities
  src/params/limits.py
  src/server.py
  src/utilities/AgoraFileManager.py
  src/utilities/AgoraInterpreterFilter.py
  src/utilities/AgoraSemanticFilter.py
  src/utilities/AgoraSyntacticFilter.py
Labels: backend, server

#26 Add account editable forms
  src/server.py
  src/static/css/style.css
  src/templates/account.html
  src/templates/editable-profile-option.html
Labels: frontend, server

#28 Make concise user info available in header
  src/server.py
  src/templates/header.html
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraSemanticFilter.py
  src/utilities/AgoraSyntacticFilter.py
Labels: frontend, backend, server

#29 Fix header login bug
  src/server.py
  src/utilities/AgoraInterpreterFilter.py
Labels: backend, server

#30 Concise account info
  src/server.py
Labels: backend, server

#34 Fix header logout
  src/templates/header.html
  src/templates/info.html
Labels: frontend, bugfix

#35 Database improvements
  src/server.py
  src/utilities/AgoraDatabaseManager.py
Labels: backend, server

#37 Image uploads
  TODO.md
  src/params/limits.py
  src/server.py
  src/templates/account.html
  src/templates/header.html
  src/templates/profile.html
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraFileManager.py
  src/utilities/AgoraInterpreterFilter.py
  src/utilities/AgoraSemanticFilter.py
  src/utilities/AgoraSyntacticFilter.py
Labels: enhancement, backend, server

#36 Merge account and profile
  src/params/limits.py
  src/server.py
  src/static/css/style.css
  src/templates/editable-profile-option.html
  src/templates/login.html
  src/templates/profile.html
Labels: frontend, server

#39 Relocate friends list
  src/static/css/style.css
  src/templates/profile.html
Labels: frontend

#40 session token retrieval added to preprocessing
  src/server.py
Labels: server

#45 Admin actions
  .gitignore
  TODO.md
  src/server.py
  src/templates/admin_userview.html
  src/templates/info.html
  src/utilities/AgoraInterpreterFilter.py
  src/utilities/AgoraSemanticFilter.py
  src/utilities/AgoraSyntacticFilter.py
Labels: frontend, backend, server

#42 Search functionality added
  src/server.py
  src/templates/results.html
Labels: frontend, backend, server

#46 Stylize error page so it's better for everybody
  src/static/css/style.css
  src/static/img/404-0.jpeg
  src/templates/error.html
Labels: frontend

#48 Fix error when redirecting to account page
  src/templates/editable-profile-option.html
Labels: bugfix

#52 Security limits
  Dockerfile
  README.md
  src/params/agora.schema
  src/params/agora_errors.py
  src/params/limits.py
  src/server.py
  src/templates/header.html
  src/templates/join.html
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraSemanticFilter.py
  src/utilities/AgoraSyntacticFilter.py
Labels: documentation, frontend, backend, bugfix, server

#51 Post editing
  docs/template_fields.md
  src/server.py
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraFileManager.py
  src/utilities/AgoraInterpreterFilter.py
  src/utilities/AgoraSemanticFilter.py
  src/utilities/AgoraSyntacticFilter.py
Labels: backend, server

#53 Add `browse/posts` and `browse/users` pages and update search functionality
  src/server.py
  src/static/css/style.css
  src/templates/browse.html
  src/templates/header.html
  src/templates/results.html
  src/templates/search.html
  src/utilities/AgoraDatabaseManager.py
Labels: frontend, backend, server

#56 Add post writing and editing pages
  src/server.py
  src/static/css/style.css
  src/templates/post-preview.html
  src/templates/post.html
  src/templates/profile.html
  src/templates/write-post.html
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraInterpreterFilter.py
Labels: frontend, backend, server

#62 Logging
  README.md
  src/params/logopts.py
  src/server.py
  src/utilities/AgoraFileManager.py
  src/utilities/AgoraSemanticFilter.py
Labels: enhancement, backend, server

#59 User opinions
  TODO.md
  src/server.py
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraEmailer.py
  src/utilities/AgoraInterpreterFilter.py
  src/utilities/AgoraSemanticFilter.py
  src/utilities/AgoraSyntacticFilter.py
Labels: backend, server

#64 Add Agora logo and new default profile pictures
  src/static/css/style.css
  src/static/img/agora-logo.png
  src/static/img/default-pfp.png
  src/templates/header.html
  src/templates/profile.html
Labels: frontend
