Repository franklindyer/agora-app, pull requests merged in 2024-03, with the labels that each got.

#70 Image upload interface
  src/server.py
  src/static/css/style.css
  src/templates/browse.html
  src/templates/comment-section.html
  src/templates/files.html
  src/templates/manage-files.html
  src/templates/profile.html
  src/templates/upload.html
  src/templates/write-post.html
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraInterpreterFilter.py
Labels: enhancement, frontend, backend, server, cleanup

#67 Account recovery
  src/server.py
  src/utilities/AgoraDatabaseManager.py
  src/utilities/AgoraEmailer.py
  src/utilities/AgoraInterpreterFilter.py
  src/utilities/AgoraSemanticFilter.py
Labels: backend

#78 Refactor input tags for HTML5 standard
  src/templates/editable-profile-option.html
  src/templates/footer.html
  src/templates/header.html
  src/templates/login.html
  src/templates/new-password.html
  src/templates/recover-account.html
  src/templates/report.html
  src/templates/reset-password.html
  src/templates/upload.html
Labels: cleanup

#81 Second half of profile pictures PR
  src/templates/manage-files.html
  src/utilities/AgoraDatabaseManager.py
Labels: frontend, backend, bugfix

#83 Add account settings page
  src/server.py
  src/templates/form.html
  src/templates/manage-files.html
  src/templates/profile.html
  src/templates/settings.html
  src/utilities/AgoraSemanticFilter.py
Labels: frontend, server

#89 Frontend cleanup
  src/static/css/style.css
  src/templates/join.html
Labels: frontend, cleanup

#90 Tweak multiple UX features
  src/server.py
  src/templates/post.html
  src/templates/upload.html
Labels: frontend, server, cleanup

#98 Added docker-compose file to facilitate deployment
  .gitignore
  README.md
  docker-compose.yml
Labels: documentation, docker

#99 Add new post button to footer
  src/templates/footer.html
  src/templates/write-post.html
Labels: frontend

#115 Fix CSRF bug in bug reports
  src/server.py
Labels: server

#116 Migrate (almost) all forms to their own template
  src/server.py
  src/templates/browse.html
  src/templates/comment-section.html
  src/templates/editable-profile-option.html
  src/templates/footer.html
  src/templates/form.html
  src/templates/header.html
  src/templates/join.html
  src/templates/login.html
  src/templates/new-password.html
  src/templates/post.html
  src/templates/profile.html
  src/templates/recover-account.html
  src/templates/report.html
  src/templates/reset-password.html
  src/templates/settings.html
  src/templates/upload.html
  src/templates/write-post.html
  src/utilities/AgoraInterpreterFilter.py
Labels: bugfix, server, cleanup

#119 Post writing progress is now cached.
  src/static/js/main.js
  src/templates/base.html
  src/templates/write-post.html
Labels: frontend
